body{
    margin-top: 50px;
    }


.row { 
    display: flex; 
    font-size: 9.5px; 
    text-align: center; 
    color: red }

.cell { 
    width: 20px; 
    height: 20px; 
    border:.0001px  
    solid black;
    background-color: #b1acaa;
}

div.cell:hover { 
    background-color: rgb(2, 2, 2);
}



#whiteButton{
    z-index: 9;
    background: #ece7e6;
    width: 15%;
    height: 15%;
    position: absolute;    
        top: 0;
        left: 0;
    margin-top: 355px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    
    border:1.6px dashed rgb(122, 119, 119);
    color:#fff;
    
   
}
#otherWhiteButton{
    z-index: 9;
    background: #ebe2e0;
    width: 15%;
    height: 15%;
    position: absolute;    
        top: 0;
        left: 0;
    margin-top: 355px;
    margin-left: 298px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    border:1.6px dashed rgb(122, 121, 121);
    color:#fff;
}


#redBorder{
    position: relative;
    border-radius: 25px;
    border: 63px solid red;
}

#outsideBorder{
    display: flex;
    justify-content: center;
    align-items: center;
}



#restart{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}