body{
    margin-top: 50px;
    background-color:rgb(179, 253, 247);
    }

button{
background-color: #691c1c; 
  border-radius: 25px;
  color: rgb(247, 232, 35);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header {
    padding: 15px; 
    margin-left: 420px;
    margin-right: 100px;
    margin-bottom: 20px; 
    color: goldenrod; 
    text-align: center;
    font-weight: bolder; 
     ;
    background-color: white; 
    border-radius: 25px; 
    border-top: 2px solid gray;
    max-width: 200px;
}


.row { 
    display: flex; 
    font-size: 9.5px; 
    text-align: center; 
    color: red }

.cell { 
    width:50px; 
    height: 50px; 
    grid-template-columns:minmax(auto, 360px);
    grid-auto-rows: auto, 360px;
    /* border: .001px solid rgb(228, 217, 217);  */

    background-color: #b1acaa;
}
/* 
#whiteButton{
    background: #ece7e6;
    z-index: 9;
    width: 15%;
    height: 15%;
    position: absolute;    
        top: 0;
        left: 0;
    margin-top: 360px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    border:1.6px dashed rgb(122, 119, 119);
    color:#fff;
    
   
}
#otherWhiteButton{
    background: #ebe2e0;
    width: 15%;
    height: 15%;
    position: absolute;    
        top: 0;
        left: 0;
    margin-top: 455px;
    margin-left: 298px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    border:1.6px dashed rgb(122, 121, 121);
    color:#fff;
}   */


#redBorder{
    display: inline;
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    border: 65px solid #e40e0e;
    max-width: 960px;
    
}

#outsideBorder{
    border: 3px solid rgb(73, 71, 71);
    margin-left: 153.2px;
    margin-right: 153.2px;
    border-radius: 26.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#grid{
    border: 3px solid rgb(73, 71, 71);
    width: 622px;
    height: 488px;
    overflow: hidden; /* NEW */
    background:#b1acaa;
}

#restart{
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#options{
    display: flex;
    gap: 15px;
}

#choices{
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(71, 71, 146);
    margin-top: 30px;
    margin-left: 300px;
    text-align: center ;
    justify-content: center;
    align-items: center;

}